body
{
    background: #0f0f0f;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    font-family: 'Quicksand', sans-serif;

}
#block
{
    position: absolute;
    height: 50px;
    width: 50px;
}
#reset
{
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    opacity: 0.4;
    color: #ffb71d;
}