@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
    background: #1a1a1a;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
#output
{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.cos
{
    font-size: 20px;
}
.nr 
{
    width: 100px;
}
.btn
{
    transition: all 300ms;
    border: none;
    padding: 3px 7px;
    background: #6db692;
    color: #333333;
}
.btn:hover
{
    transition: all 300ms;
    border: none;
    padding: 3px 7px;
    background: #333333;
    color: #6db692;
}