body{
    background: #0f0f0f;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}
#wrap{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.star{
    min-height: 100px;
    min-width: 100px;
    margin: 3px;
}